<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blogs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <li class="nav-item active">
        <a class="nav-link" style="font-size: medium;" href="/articles/new">Add Articuls <span class="sr-only">(current)</span></a>
      </li>
        <% if current_user %>
        <a class="nav-link" style="font-size: medium;" href="/pages/about" >About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="font-size: medium;" href="/pages/contact">Contact Us <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" style="font-size: medium;" href="/users/edit">Edit Profile <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" style="font-size: medium;" href="/articles/new">Add Articuls <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" style="font-size: medium;" > <%= current_user.username %> </a>
      </li>
      
      <li class="nav-item" style="margin-left: 13px;margin-top: -8px;font-size: medium;">
        <a class="nav-link" style="font-size: medium;" > <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </a>
      </li>
 
  <% else %>

      <li class="nav-item active">
        <a class="nav-link" style="font-size: medium;" href="/users/sign_in">Sign In <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: medium;" href="/users/sign_up">Sign Up</a>
      </li>
      
      <% end %>
    </ul>
  </div>
</nav>